@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Waiting+for+the+Sunrise&display=swap');


.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.nav ul, .sm {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

.nav ul li a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    padding: 0 10px 0 10px;
    color: #000000;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-image img, .main-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 10px 0 20px 0
}

/*body*/

.gallery-image img {
    width: 90%;
}

.gallery-links a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}


.gallery-image {
    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
} 

.gallery-links {
    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}


/* Footer */

.contact {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly; 
    align-items: center;
    color: #000000;
}

/* Fotomees OÜ | info@fotomees.ee | +372 5555 5555 
.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    flex-flow: row;
    justify-content: space-evenly; 
    align-items: center;

    color: #000000;
}*/
/*
@media only screen and (min-width: 800px) {
    header .header-banner {
        height: calc(100vh - 400px);
    }   
    header h1 a {
        font-size: 80px;
    }  
    header h2 {
        font-size: 24px;
        margin-top: 20px;
    }
}
*/